---
import { getCollection } from 'astro:content';
import PostList from '../components/PostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE } from '../consts';

const posts = (await getCollection('posts', ({ data }) => import.meta.env.DEV || !data.draft)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const years = [...new Set(posts.map((p) => p.data.pubDate.getFullYear()))].sort((a, b) => b - a);

const postsByYear = years.map((year) => ({
	year,
	posts: posts.filter((p) => p.data.pubDate.getFullYear() === year),
}));
---

<BaseLayout title={SITE_TITLE} description="Alle Beiträge">
	<h1 class="sr-only">{SITE_TITLE}</h1>
	{postsByYear.map(({ year, posts }) => (
		<section>
			<h2 id={`year-${year}`}>{year}</h2>
			<PostList {posts} />
		</section>
	))}
</BaseLayout>

<style>
	section {
		margin-bottom: 2em;
	}
	h2 {
		scroll-margin-top: 1em;
	}
</style>
